
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Dr. <%= @doctor.name %></h1>
        <ol class="breadcrumb">
            <li>
                <a href="<%= doctors_path %>">Home</a>
        </li>
        <li>
            <a href="<%= doctors_path %>">Doctors</a>
        </li>
        <li class="active">
            <strong><%= @doctor.name %></strong>
        </li>
    </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-md-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Doctor Details</h5>
            </div>
            <div class="ibox-content border-left-right">
                <div class="col-sm-4">
                    <div class="text-center">
                        <%= image_tag 'doctor_placeholder.jpg', class: 'img-circle m-t-xs img-responsive' %>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2><strong>Dr. <%= @doctor.name %></strong></h2>
                    <h4><%= @doctor.speciality %></h4>
                    <p><%= @doctor.description %></p>
                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-video-camera"></i> Request Video Consult</button>
                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Practice Details</h5>
            </div>
            <div class="ibox-content">
                <h2><%= @doctor.practice.name %></h2><br>
                    <!-- %= image_tag @doctor.practice.image.url , width:'60%', class: 'm-t-xs img-responsive' % -->
                    <%= image_tag 'practice_placeholder.png' , width:'60%', class: 'm-t-xs img-responsive' %>
                <address><i class="fa fa-map-marker"></i>
                    <%= @doctor.practice.street %><br>
                    <%= @doctor.practice.city+", "+@doctor.practice.postal %><br>
                </address>
                <h4>Phone: <%= @doctor.practice.phone %></h4>
                <h4> Email: <%= @doctor.practice.email %></h4>
                <h4><a class="btn btn-default btn-sm btn-block" href="<%= @doctor.practice.website %>">Visit Website</a></h4>
            </div>
        </div>

    </div>
</div>
</div>


